<style>
body{

background-color: rgb()

}

#fart{
margin-left:60px;

}

#hermit{
margin-left:24px;
}

#hermitB{
margin-left:60px;
}

#head{
background-color:black;
color:white;
font-family:"arial Black";
padding: 10px;



}


</style>
